:root {
  --blue: #5175ff;
  --dark-blue: #333950;
  --purple: #829cff;
  --gray: #747b95;
  --black: #25293a;
  --red: #f05b5b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--gray);
  background: #fafafa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.body-1 {
  font-size: 1.8rem;
  line-height: 1.55;
}

.body-2 {
  font-size: 1.6rem;
  line-height: 1.75;
}

.container {
  width: 100%;
  max-width: 115.8rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1.14;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 1.4rem 4.1rem;
  border-radius: 10rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  transition: all 300ms ease-out;

  &--primary {
    background-color: var(--blue);
    color: #fff;

    &:hover {
      background-color: var(--purple);
    }
  }

  &--secondary {
    background-color: #e4eaff;
    color: var(--blue);

    &:hover {
      background-color: #d3dcff;
    }
  }

  &--tertiary {
    background-color: #fff;
    color: var(--blue);

    &:hover {
      color: var(--purple);
    }
  }
}

.header {
  position: relative;
  padding: 4.6rem 0;

  &__bg-pattern {
    position: absolute;
    top: -17rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 45.8rem;
    z-index: -1;
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}

.hero {
  text-align: center;
  margin-top: 3.4rem;
  margin-bottom: 10rem;

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    flex: 1;
    order: 2;
  }

  &__heading {
    color: var(--dark-blue);
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.625;
    margin-bottom: 2.4rem;
  }

  &__img-container {
    flex: 1;
    order: 1;
    margin-bottom: 6.4rem;
  }

  &__img {
    width: 52.3%;
  }
}

.pricing {
  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__card {
    position: relative;
    flex: 1;
    width: 100%;
    border-radius: 1.3rem;
    background-color: #fff;
    text-align: center;
    font-size: 1.6rem;
    color: var(--dark-blue);
    padding: 4rem;
    margin-bottom: 3.2rem;
    overflow: hidden;

    &--basic {
      box-shadow: 0 25px 50px #4b5c9a2f;
    }

    &--pro {
      color: #fff;
      background-color: var(--blue);
      background-image: url('../assets/home/bg-pattern-pricing.svg');
      background-repeat: no-repeat;
      background-position: 50% 102%;
      background-size: 820px;

      .pricing__card-feature {
        color: #d3dcff;
      }
    }

    // &-bg {
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   z-index: -1;
    // }

    &-title {
      font-size: 2rem;
      margin-bottom: 4rem;
    }

    &-price {
      font-size: 5.6rem;
      line-height: 1.14;
      margin-bottom: 0.8rem;
    }

    &-description {
      margin-bottom: 5.6rem;
    }

    &-features {
      padding-bottom: 1.6rem;
    }

    &-feature {
      margin-bottom: 1.6rem;
      color: var(--gray);
    }
  }
}

.footer {
  text-align: center;
  margin-top: 6.8rem;
  padding-bottom: 10rem;

  &__bg-pattern {
    display: none;
  }

  &__wrapper {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 39%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--black);
      background-image: url('../assets/home/bg-pattern-footer.svg');
      background-repeat: no-repeat;
      background-position: 50% 210%;
      background-size: 112rem;
      z-index: -1;
    }
  }

  &__intro {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 5px;
    line-height: 3;
    margin-bottom: 1.8rem;
    color: #fff;
    text-transform: uppercase;

    & > span {
      color: var(--blue);
    }
  }
  // &__grid {
  //   display: flex;
  // }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  margin-bottom: 4rem;

  &__card {
    padding: 1.1rem 1.6rem;
    background-color: var(--dark-blue);
    flex: 1 1 20%;
    max-width: 10rem;
    border-radius: 0.4rem;
    box-shadow: 0 3px 15px rgba(37, 41, 58, 0.25);
  }

  &__time {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.4rem;
  }

  &__description {
    font-size: 1.2rem;
    font-weight: 700;
    color: #999ca7;
    text-transform: lowercase;
  }
}

@media (min-width: 43em) {
  .container {
    padding: 0 4rem;
  }
  .header {
    padding: 7.2rem 0;

    &__bg-pattern {
      max-width: 66.6rem;
      top: -16.4rem;
      right: -29.3rem;
      left: auto;
      transform: none;
    }

    &__logo {
      margin: 0;
    }
  }

  .hero {
    text-align: left;
    margin-top: 3.8rem;

    &__grid {
      flex-direction: row;
      align-items: center;
    }

    &__content {
      flex: 1 1 49%;
      max-width: 49%;
      order: 1;
      margin-right: 6.3rem;
    }

    &__img-container {
      flex: 1 1 41%;
      max-width: 41%;
      order: 2;
      margin-bottom: 0;
      padding-top: 4.8rem;
    }

    &__img {
      width: 100%;
    }
  }

  .pricing__card {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 4.8rem;

    &--pro {
      background-position: 210%;
    }

    .btn {
      display: none;
    }

    .btn.is-tablet {
      display: inline-block;
    }

    &-content {
      flex: 1;
    }

    &-features {
      flex: 1;
    }

    &-title {
      margin-bottom: 1.6rem;
    }

    &-price {
      margin-bottom: 0.4rem;
    }

    &-description {
      margin-bottom: 2.4rem;
    }
  }

  .footer {
    &__wrapper {
      &::before {
        top: 34%;
        background-position: 50% -32%;
        background-size: 130rem;
      }
    }

    &__intro {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
  }

  .timer {
    margin-bottom: 4.8rem;

    &__card {
      padding: 1.6rem;
      border-radius: 1.3rem;
    }
    &__time {
      font-size: 5.6rem;
      line-height: 1.1;
    }

    &__description {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 62em) {
  .container {
    max-width: 119rem;
  }

  .header {
    padding: 8.1rem 0;

    .container {
      position: relative;
    }

    &__bg-pattern {
      top: -50rem;
      right: -45rem;
      max-width: 113rem;
    }
  }

  .hero {
    margin-top: 2.1rem;

    &__img-container {
      padding-top: 0;
      max-width: 50%;
      padding-left: 3.2rem;
    }

    &__img {
      display: block;
      max-width: 100%;
    }

    &__content {
      max-width: 50%;
      padding-right: 2rem;
      margin-right: 0;
    }

    &__heading {
      font-size: 5.6rem;
      line-height: 1.14;
    }

    &__text {
      font-size: 1.8rem;
    }
  }

  .pricing {
    &__cards {
      flex-direction: row;
      gap: 3rem;
    }

    &__card {
      text-align: center;
      display: block;

      &--pro {
        background-position: 50% 105%;
        background-size: 72rem;
      }
    }

    .btn {
      display: inline-block;
    }

    .btn.is-tablet {
      display: none;
    }
  }

  .footer {
    text-align: left;
    padding-bottom: 9.1rem;

    .container {
      position: relative;
    }

    &__bg-pattern {
      display: block;
      position: absolute;
      top: -415%;
      left: -70%;
      max-width: 203rem;
      z-index: -1;
    }

    &__wrapper {
      overflow: hidden;
      &::before {
        top: 25%;
        background-image: none;
      }
    }

    &__grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .timer {
    gap: 1.6rem;

    &__card {
      text-align: center;
    }
  }
}
